name: Java CI with Maven

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v6.0.1

    - name: Set up JDK 17
      uses: actions/setup-java@v5.1.0
      with:
        java-version: '17'
        distribution: 'temurin'

    - name: Build with Maven
      run: mvn -B package -f project/pom.xml


    - name: Upload JAR File
      uses: actions/upload-artifact@v5.0.0
      with:
        name: spring-boot-jar
        path: target/*.jar
